<div class="d-flex flex-column justify-content-around align-self-center">
{#    <button type="submit" class="btn btn-outline-primary my-2">Accueil</button>#}
    <button class="btn btn-outline-primary my-2"><a href="{{ path('profile') }}" style="text-decoration: none">Accueil</a></button>
{#    <button class="btn btn-outline-primary my-2"></button>#}
    <button class="btn btn-outline-primary my-2"><a href="{{ path('profile_info') }}" style="text-decoration: none">Informations personnelles</a></button>
    <button class="btn btn-outline-primary my-2">Mot de passe</button>
    <button class="btn btn-outline-primary my-2">Articles aimés</button>
    <button class="btn btn-outline-primary my-2">Articles partagés</button>
    <button class="btn btn-outline-primary my-2">Articles commentés</button>
</div>
